@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

.cabecalho{
    background-color: #f584c9;
    width: 100%;
}
.botao{
    color: #101110;
    font-size: 24px;
}
.titulo{
    color: #0c0e0d;
    font-size: 32px;
    font-family: Dancing Script;
    text-align: center;
}
.texto{
    background-color: #ffffff;
}
.h2{
    font-family:Embed code;
    font-size: 24px;
    color: #0c0e0d;
}
.texto-inicial{
    font-size: 24px;
    color: #0c0e0d;
}
.texto-fonte{
    font-size: 18px;
    color:#0c0e0d;
}
.foto{
    width: 30% ;
}